<header class="bgimage">
    <div class="container-fluid">
        <div class="page-header media-middle">
            <h1>Welcome to Redonculous Cheesesteak's Website!</h1>
        </div>

    </div>
</header>