<a href="@Href("~/HomePage.cshtml")"> HomePage</a>
<p><b>Deluxe CheeseSteaks:</b></p>
<a href="@Href("~/BleuDonculous.cshtml")"> Bleu Donculous</a>
<a href="@Href("~/PepperDonculous.cshtml")"> Pepper Donculous</a>
<a href="@Href("~/DevilsSpitDonculous.cshtml")"> Devil's Spit Donculous</a>