@{ Layout = "~/Shared/_Layout.cshtml"; }

<h1>Devil's Spit Donculous:</h1>
<p>A fiery cheesesteak with grilled fresh jalepenos and a tiny dab of our secret Donculous Sauce and also deep friend jalepeno poppers. All smothered in a spicy nacho cheese.</p>

<table border="2">
    <tr>
        <td>Size</td>
        <td>Steak Portion</td>
        <td>Amount of Cheese</td>
        <td>Price</td>
    </tr>
    <tr>
        <td>@App.Size</td>
        <td>@App.MeatAmount</td>
        <td>@App.Cheese</td>
        <td>@App.Price</td>
    </tr>
</table>